<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hashstok</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet"
          href="/static/hash_stok.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.9";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script src="https://apis.google.com/js/platform.js"></script>

    <script>
        function onYtEvent(payload) {
            if (payload.eventType == 'subscribe') {
                // Add code to handle subscribe event.
            } else if (payload.eventType == 'unsubscribe') {
                // Add code to handle unsubscribe event.
            }
            if (window.console) { // for debugging only
                window.console.log('YT event: ', payload);
            }
        }
    </script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>
<body id="body">




<!-- Navbar -->
<nav class="navbar navbar-default mojKolor navbar-fixed-top" id="navigation">
    <div class="container">
        <div class="navbar-header ">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="brand" href="/">Hash#STOK

            </a>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                {% if authenticated == True %}
                    {# <li><a href="/"> <span class="glyphicon glyphicon-user">Profil </a></li>#}
                    {% if request.user.is_superuser %}
                        <li><a href="/admin/Blog/post/add/"> <span class="glyphicon glyphicon-plus">Dodaj post </a></li>
                        <li><a href="/admin"> <span class="glyphicon glyphicon-th-large">Administracja </a></li>
                    {% endif %}
                {% endif %}
                <li><a href="#">KTO</a></li>
                <li><a href="#">CO</a></li>
                <li><a href="#">GDZIE</a></li>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {% if authenticated == True %}
                            <a href="/logout/"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                        {% else %}
                            <a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                        {% endif %}
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" style="height: 100%">
    <div class="row content">
        {% block content %}


        {% endblock %}

        <div class="col-sm-3 sidenav" id="side">
            <div style="margin: 20px">


                <div class="g-ytsubscribe" data-channel="GoogleDevelopers" data-layout="full" data-count="default"
                     data-onytevent="onYtEvent">

                </div>
                <div class="fb-like" data-href="{{ request.build_absolute_uri }}"
                     data-layout="button_count" data-action="like" data-size="small" data-show-faces="true"
                     data-share="true"></div>
                <a href="https://twitter.com/TwitterDev" class="twitter-follow-button" data-show-count="false">Follow
                    @TwitterDev</a>

            </div>
            <form method="get" action="">
                <div class="input-group" style="top:10px">

                    <input type="text" name="q" class="form-control" placeholder="Search Blog..">
                    <span class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>


                </div>
            </form>
            <div style="margin-top: 25px;">
                <h4>Tagi</h4>
                <hr>

                {% for tag in tagi %}
                    <a class="btn btn-info" href="/?qt={{ tag.nazwa }}"> {{ tag.nazwa }}</a>
                {% endfor %}
                </form>
            </div>
        </div>

    </div>
</div>

<div id="fb-root"></div>


<footer class="container-fluid">
    <p>&copy; 2017 Krystian Zakryś - projekt na zaliczenie przedmiotu: Rozwiązania Szkieletowe w Tworzeniu Aplikacji</p>
</footer>

</body>
</html>
